<% provide :page_title, construct_page_title(t('.title')) %>

<h1><%= t '.header' %></h1>
<p><%= t '.description_html' %></p>
<a href="/auth/CCID" class="btn btn-primary">
   <%= t('.login_button_text') %>
</a>

<%- if Rails.env.development? || ENV['ENABLE_TMP_LOGINS'] %>
  <%# TODO: Temporary login form for local development until IST shibboleth issues gets resolved %>
  <a href="/auth/developer" class='btn btn-primary'>
    Sign in with Developer Account
  </a>
<% end %>
